<nav class="navbar navbar-light bg-dark d-flex justify-content-around shadow" >
   <a class="navbar text-decoration-none text-white" href="/">
      <img src="./images/bike-logo.svg" width="50" height="50" class="logo" alt="logo">
      The Bike Shop Experience
   </a>
   <a href="/shop" class="btn btn-outlined-primary bg-white"><i class="bi bi-cart-fill"></i> Cart</a>
</nav>